{%extends 'mise en page/base.html' %}
{% block content %}
<center>
	
<table>
	<tr>
		<th ><center>
		<img src="../static/images/ch.jpg" alt="image de profil" title="image de l'administrateur"></center>
		</th>

	</tr>
	<tr>
		<th>
	<div>
		<strong>Bonjour et bienvenue sur mon site <br/>Je m'appel Christ SAMBA</strong>
		<br/><br/><hr/>
		Je suis étudiant en Genie Informatique<br/>
		J'ai developpé ce site web avec <strong>Django</strong> <br/>un langage de programmation,<br/> dans le but de produire la
		carte d'identité<br/> de chaque étudiant de mon université;<br/> l'Ecole
		Communautaire de l'Enseignement Superieur <a href="http://www.eces-ecole.org">ECES</a>.
		<br/><br/>
		Pour plus d'information veuillez me contacter via mon compte <a href="http://www.facebook.com/christ samba">Facebook</a> 

		</th>
	</tr>
</table>
</center>



{%endblock%}